@-webkit-keyframes green-glow {
    from {
        box-shadow: 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #B6FF00, 0 0 38px #B6FF00, 0 0 40px #B6FF00, 0 0 60px #B6FF00, 0 0 80px #B6FF00;
    }
    to {
        box-shadow: 0 0 1.75px #fff, 0 0 2.5px #fff, 0 0 5px #fff, 0 0 10px #B6FF00, 0 0 19px #B6FF00, 0 0 20px #B6FF00, 0 0 30px #B6FF00, 0 0 40px #B6FF00;
    }
}

.user {
    width: 100%;

    .typing {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        &.on {
            -webkit-animation: green-glow 1.5s ease-in-out infinite alternate;
            -moz-animation: green-glow 1.5s ease-in-out infinite alternate;
            animation: green-glow 1.5s ease-in-out infinite alternate;
            background-color: #B6FF00;
            box-shadow: 4px 4px 4px #B6FF00;
        }

        &.off {
            background-color: gray;
        }
    }

    .username {
        display: inline-block;
        padding-left: 10px;
    }

}
